@font-face {
    font-family: Norse-Bold;
    src: url('Norse-Bold.otf');
}

main {
    background-color: #d3d3d3;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
    font-weight: bold;
}

.image-container {
    justify-content: center;
    text-align: center;
    position: relative;
    height: auto;
    width: auto;
}

.middle {
    background: rgb(0, 0, 0); /* Fallback for older browsers without RGBA-support */
    background: rgba(0, 0, 0, 0.5);
    float: left;
    z-index: 2;
    position: absolute;
    color: white;
    top: 250px;
    height: 200px;
    width: 40%;
    text-align: center;
}

.middle p {
    left: 125px;
    top: 50px;
    font-size: 5rem;
}

.top {
    position: absolute;
    z-index: 3;
    height: 150px;
    align-self: center;
    font-family: Norse-Bold, Arial, Helvetica, sans-serif;
}

.bottom {
    width: 40%;
    height: 100vh;
    float: left;
    z-index: 1;
    position: relative;
}

.text-area {
    text-align: center;
    padding: 150px 100px 50px 550px;
}

.form-area {
    background-color: #FAECE2;
    margin-bottom: 50px;
    padding: 50px 100px 50px 550px;
    text-align: center;
    align-items: center;
    box-shadow: 1px 1px 5px;
}

label {
    font-size: 12px;
}

input {
    border-color: #E5E7EB;
    width: 200px;
    text-align: center;
}

input:focus {
    border-color: blue;
    box-shadow: .25px;
}

input:invalid {
    border-color: red;
    box-shadow: .25px;
}

.must-match {
    color: red;
    font-size: 12px;
}

button {
    width: 200px;
    background-color: #596D48;
    border-radius: 12px;
}

button:hover {
    background-color: black;
    color: white;
}

.login-area {
    text-align: center;
}